################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/TranspoDocMonitor.Service/.vs/TranspoDocMonitor.Service/FileContentIndex
/src/TranspoDocMonitor.Service/.vs/TranspoDocMonitor.Service/v17/.suo
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.Core.Swagger/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.Core.Swagger/obj
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.API/obj/Debug/net6.0/TranspoDocMonitor.Service.API.AssemblyInfo.cs
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.API/obj/Debug/net6.0/TranspoDocMonitor.Service.API.AssemblyInfoInputs.cache
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.Core.Swagger/bin/Debug/net6.0/TranspoDocMonitor.Service.Core.Swagger.deps.json
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.Core.Swagger/bin/Debug/net6.0/TranspoDocMonitor.Service.Core.Swagger.pdb
/src/TranspoDocMonitor.Service/TranspoDocMonitor.Service.Core.Swagger/bin/Debug/net6.0/TranspoDocMonitor.Service.Core.Swagger.dll
/src/TranspoDocMonitor.Service/.vs/TranspoDocMonitor.Service/DesignTimeBuild/.dtbcache.v2
